{% extends 'main/layout.html' %}
{% block title %}댕고 | 프로필{% endblock title %}
{% block head %}
	{% load static %}
    <link rel="stylesheet" href="{% static 'users/css/theme.css' %}">
{% endblock head %}
{% block content %}
    <nav class="nav nav-tabs justify-content-around">
        <a class="nav-item nav-link h3" href="{% url 'dog:list' %}">
            <span class="d-none d-sm-inline">동네 견주</span>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-binoculars" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z"/>
            </svg>
        </a>
        <a class="nav-item nav-link h3" href="{% url 'chat:conversations' %}">
            <span class="d-none d-sm-inline">메세지</span>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-right-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 1h12a1 1 0 0 1 1 1v11.586l-2-2A2 2 0 0 0 11.586 11H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                <path fill-rule="evenodd" d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </a>
        <a class="nav-item nav-link h3" href="{% url 'friendship:friendship' %}">
            <span class="d-none d-sm-inline">산책 메이트</span>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM6 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm4.5 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
            </svg>
        </a>
        <a class="nav-item nav-link h3 active" href="{% url 'users:profile' %}" >
            <span class="d-none d-sm-inline">프로필</span>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
            </svg>
        </a>
    </nav>
        <!-- Container fluid -->
        <div class="container-fluid px-6 py-4">
          <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
              <!-- Bg -->
              <div class="pt-20 rounded-top" style="background:
                  url({% static 'users/img/profile-cover.jpg' %}) no-repeat;
                  background-size: cover;">
              </div>
              <div class="bg-white rounded-bottom smooth-shadow-sm ">
                <div class="d-flex align-items-center justify-content-between
                    pt-4 pb-6 px-4">
                  <div class="d-flex align-items-center">
                    <!-- avatar -->
                    <div class="avatar-xxl avatar-indicators avatar-online me-2
                        position-relative d-flex justify-content-end
                        align-items-end mt-n10">
                      <img src="{{ user.avatar }}" class="avatar-xxl
                          rounded-circle border border-4 border-white-color-40" alt="">
                      <a href="#!" class="position-absolute top-0 right-0 me-2" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Verified">
                        <img src="{% static 'users/img/checked-mark.svg' %}" alt="" height="30" width="30">
                      </a>
                    </div>
                    <!-- text -->
                    <div class="lh-1">
                      <h2 class="mb-0">{{ user.username }}
                        <a href="#!" class="text-decoration-none" data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Beginner">

                        </a>
                      </h2>
                      <p class="mb-0 d-block">@dango.life</p>
                    </div>
                  </div>
                  <div><a href="{% url 'blog:create' %}" class="btn btn-outline-danger btn-sm d-block mb-1">포스팅</a>
                    <a href="{% url 'users:profile_update' %}" class="btn btn-outline-primary btn-sm d-block">프로필 수정</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content -->
          <div class="py-6">
            <!-- row -->
            <div class="row">
              <div class="col-12 mb-6">
                <!-- card -->
                <div class="card">
                  <!-- card body -->
                  <div class="card-body">
                    <!-- card title -->
                    <h4 class="card-title mb-4">About Me</h4>
                    <span class="text-uppercase fw-medium text-dark
                        fs-5 ls-2">소개</span>
                    <!-- text -->
                    <p class="mt-2 mb-6">안녕하세요. 환영합니다.</p>
                    <!-- row -->
                    <div class="row">
                      <div class="col-12 mb-5">
                        <!-- text -->
                        <h6 class="text-uppercase fs-5 ls-2">강아지 정보
                        </h6>
                        <p class="mb-0">예비 견주입니다.</p>
                      </div>
                      <div class="col-6">
                        <h6 class="text-uppercase fs-5 ls-2">이메일 </h6>
                        <p class="mb-0">{{ user.email }}</p>
                      </div>
                      <div class="col-6">
                        <h6 class="text-uppercase fs-5 ls-2">활동 지역
                        </h6>
                        <p class="mb-0">{{ user.address }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-6">
                <!-- card -->
                <div class="card">
                  <!-- card body -->
                  <div class="card-body">
                    <!-- card title -->
                    <h4 class="card-title mb-4">산책 리뷰</h4>
                    {% if review_list %}
                    {% for review in review_list %}
                    <div class="d-flex mb-5">
                      <!-- img -->
                      <div>
                        <img src="{{ review.author.avatar }}" class="rounded-circle avatar-md" alt="">
                      </div>
                      <!-- content -->
                      <div class="ms-3 ">
                        <h5 class="mb-1">{{ review.author.username }}</h5>
                        <p class="text-muted mb-2">{{ review.review }}
                        </p>
                          {% if free.created_string == False %}
                            <p class="fs-5 mb-0">{{ review.created_date|date:'m월 d일' }}</p>
                            {% else %}
                            <p class="fs-5 mb-0">{{ review.created_string }}</p>
                          {% endif %}
                      </div>
                    </div>
                      {% endfor %}
                      {% endif %}
                      <form action="/profile/" method="post" id="review-create" enctype="multipart/form-data">
                          {% csrf_token %}
                            <div class="input-group  mb-3">
                              <input name="review" form="review-create" class="form-control" style="height: 3em;" placeholder="리뷰를 남겨주세요." aria-label="산책 리뷰" aria-describedby="button-addon2">
                              <button class="btn btn-outline-secondary" style="height: 3em;" type="submit" id="button-addon2">남기기</button>
                            </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 포스팅 -->
              <div class="row row-cols-1 row-cols-md-3 g-4">
                  {% for post in post_list %}

                  <div class="col">
                      <a href="/blog/post/{{ post.id }}/">
                    <div class="card">
                        <div class="embed-responsive embed-responsive-4by3">
                        {% if post.head_image %}
                        <img src="{{ post.head_image.url }}" class="card-img-top embed-responsive-item" alt="Image">
                        {% else %}
                        <img src="{% static 'blog/img/noimg.jpg' %}" class="card-img-top embed-responsive-item" alt="No image">
                        {% endif %}
                        </div>
                    <div class="card-body">
                        <p class="card-title text-center"> {{ post.title }}</p>
                    </div>
                  </div>
                      </a>
                  </div>

                {% endfor %}
                </div>
              </div>
        </div>
      </div>
{% endblock content %}