{% extends 'main/layout.html' %}
{% block head %}
{% load static %}
{% block title %}댕고 | 회원가입{% endblock title %}
      <link rel="stylesheet" href="{% static 'users/css/theme.css' %}">
{% endblock head %}

{% block content %}

        <!-- header -->
        <div id="header">
            <a href="#" target="_blank"><img src="{% static 'users/img/dango.svg' %}" id="logo"></a>
        </div>


        <!-- wrapper -->
        <div id="wrapper">
            <form action="{% url 'users:register' %}" method="post" class="mt-5 ">
            {% csrf_token %}
            <!-- content-->
            <div id="content">

                <!-- EMAIL -->
                <div>
                    <h3 class="join_title"><label for="email">이메일</label></h3>
                    <span class="box int_email">
                        <input type="text" id="email" name="email" class="int" maxlength="100" placeholder="example@dango.com" value="{{ form.email.value|default_if_none:''}}">
                    </span>
                    <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>
                </div>

                <!-- PW1 -->
                <div>
                    <h3 class="join_title"><label for="password1">비밀번호</label></h3>
                    <span class="box int_pass">
                        <input type="text" id="password1" name="password1" class="int" maxlength="20" value="{{ form.password1.value|default_if_none:''}}">
                        <span id="alertTxt">사용불가</span>
                        <img src="{% static 'users/img/m_icon_pass.png' %}" id="pswd1_img1" class="pswdImg">
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- PW2 -->
                <div>
                    <h3 class="join_title"><label for="password2">비밀번호 재확인</label></h3>
                    <span class="box int_pass_check">
                        <input type="text" id="password2" name="password2" class="int" maxlength="20" value="{{ form.password2.value|default_if_none:''}}">
                        <img src="{% static 'users/img/m_icon_check_disable.png' %}" id="pswd2_img1" class="pswdImg">
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- NAME -->
                <div>
                    <h3 class="join_title"><label for="username">이름</label></h3>
                    <span class="box int_name">
                        <input type="text" id="username" name="username" class="int" maxlength="20" value="{{ form.username.value|default_if_none:''}}">
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- BIRTH -->
                <div>
                    <h3 class="join_title"><label for="yy">생년월일</label></h3>

                    <div id="bir_wrap">
                        <!-- BIRTH_YY -->
                        <div id="bir_yy">
                            <span class="box">
                                <input type="text" id="yy" class="int" maxlength="4" placeholder="년(4자)">
                            </span>
                        </div>

                        <!-- BIRTH_MM -->
                        <div id="bir_mm">
                            <span class="box">
                                <select id="mm" class="sel">
                                    <option>월</option>
                                    <option value="01">1</option>
                                    <option value="02">2</option>
                                    <option value="03">3</option>
                                    <option value="04">4</option>
                                    <option value="05">5</option>
                                    <option value="06">6</option>
                                    <option value="07">7</option>
                                    <option value="08">8</option>
                                    <option value="09">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </span>
                        </div>

                        <!-- BIRTH_DD -->
                        <div id="bir_dd">
                            <span class="box">
                                <input type="text" id="dd" class="int" maxlength="2" placeholder="일">
                            </span>
                        </div>

                    </div>
                    <span class="error_next_box"></span>
                </div>

                <!-- GENDER -->
                <div>
                    <h3 class="join_title"><label for="gender">성별</label></h3>
                    <span class="box gender_code">
                        <select id="gender" class="sel">
                            <option>성별</option>
                            <option value="M">남자</option>
                            <option value="F">여자</option>
                        </select>
                    </span>
                    <span class="error_next_box">필수 정보입니다.</span>
                </div>

                <!-- ADDRESS -->
                <div>
                    <h3 class="join_title"><label for="address">우리동네</label></h3>
                    <span class="box int_mobile">
                        <input type="text" id="sample2_extraAddress" name="address" class="int" maxlength="16" placeholder="동이름 입력" value="{{ form.address.value|default_if_none:''}}">
                        <a type="button" onclick="sample2_execDaumPostcode()" value="동네 찾기"><img src="{% static 'users/img/m_icon_search.svg' %}" class="addressImg"></a><br>
                    </span>
                    <span class="error_next_box"></span>
                </div>


                <!-- JOIN BTN-->
                <div class="btn_area">
                    <button type="submit" class="btn btn-outline-info btn-lg btn-block">가입하기</button>
                </div>
            </form>
            </div>
            <!-- content-->

        </div>
        <!-- wrapper -->
    <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
    <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="crsor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        // 우편번호 찾기 화면을 넣을 element
        var element_layer = document.getElementById('layer');

        function closeDaumPostcode() {
            // iframe을 넣은 element를 안보이게 한다.
            element_layer.style.display = 'none';
        }

        function sample2_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample2_extraAddress").value = extraAddr;

                    } else {
                        document.getElementById("sample2_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample2_postcode').value = data.zonecode;
                    document.getElementById("sample2_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample2_detailAddress").focus();

                    // iframe을 넣은 element를 안보이게 한다.
                    // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                    element_layer.style.display = 'none';
                },
                width : '100%',
                height : '100%',
                maxSuggestItems : 5
            }).embed(element_layer);

            // iframe을 넣은 element를 보이게 한다.
            element_layer.style.display = 'block';

            // iframe을 넣은 element의 위치를 화면의 가운데로 이동시킨다.
            initLayerPosition();
        }

        // 브라우저의 크기 변경에 따라 레이어를 가운데로 이동시키고자 하실때에는
        // resize이벤트나, orientationchange이벤트를 이용하여 값이 변경될때마다 아래 함수를 실행 시켜 주시거나,
        // 직접 element_layer의 top,left값을 수정해 주시면 됩니다.
        function initLayerPosition(){
            var width = 300; //우편번호서비스가 들어갈 element의 width
            var height = 400; //우편번호서비스가 들어갈 element의 height
            var borderWidth = 5; //샘플에서 사용하는 border의 두께

            // 위에서 선언한 값들을 실제 element에 넣는다.
            element_layer.style.width = width + 'px';
            element_layer.style.height = height + 'px';
            element_layer.style.border = borderWidth + 'px solid';
            // 실행되는 순간의 화면 너비와 높이 값을 가져와서 중앙에 뜰 수 있도록 위치를 계산한다.
            element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width)/2 - borderWidth) + 'px';
            element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height)/2 - borderWidth) + 'px';
        }
    </script>

    <script>
        var pw1 = document.querySelector('#password1');
        var pwMsg = document.querySelector('#alertTxt');
        var pwImg1 = document.querySelector('#pswd1_img1');

        var pw2 = document.querySelector('#password2');
        var pwImg2 = document.querySelector('#pswd2_img1');
        var pwMsgArea = document.querySelector('.int_pass');

        var userName = document.querySelector('#username');

        var yy = document.querySelector('#yy');
        var mm = document.querySelector('#mm');
        var dd = document.querySelector('#dd');

        var gender = document.querySelector('#gender');

        var email = document.querySelector('#email');

        var error = document.querySelectorAll('.error_next_box');



        /*이벤트 핸들러 연결*/

        pw1.addEventListener("focusout", checkPw);
        pw2.addEventListener("focusout", comparePw);
        userName.addEventListener("focusout", checkName);
        yy.addEventListener("focusout", isBirthCompleted);
        mm.addEventListener("focusout", isBirthCompleted);
        dd.addEventListener("focusout", isBirthCompleted);
        gender.addEventListener("focusout", function() {
            if(gender.value === "성별") {
                error[5].style.display = "block";
            } else {
                error[5].style.display = "none";
            }
        })
        email.addEventListener("focusout", isEmailCorrect);
        mobile.addEventListener("focusout", checkPhoneNum);



        /*콜백 함수*/


        function checkPw() {
            var pwPattern = /[a-zA-Z0-9~!@#$%^&*()_+|<>?:{}]{8,16}/;
            if(pw1.value === "") {
                error[1].innerHTML = "필수 정보입니다.";
                error[1].style.display = "block";
            } else if(!pwPattern.test(pw1.value)) {
                error[1].innerHTML = "8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.";
                pwMsg.innerHTML = "사용불가";
                pwMsgArea.style.paddingRight = "93px";
                error[1].style.display = "block";

                pwMsg.style.display = "block";
                pwImg1.src = "{% static 'users/img/m_icon_not_use.png' %}";
            } else {
                error[1].style.display = "none";
                pwMsg.innerHTML = "안전";
                pwMsg.style.display = "block";
                pwMsg.style.color = "#03c75a";
                pwImg1.src = "{% static 'users/img/m_icon_safe.png' %}";
            }
        }

        function comparePw() {
            if(pw2.value === pw1.value && pw2.value != "") {
                pwImg2.src = "{% static 'users/img/m_icon_check_enable.png' %}";
                error[2].style.display = "none";
            } else if(pw2.value !== pw1.value) {
                pwImg2.src = "{% static 'users/img/m_icon_check_disable.png' %}";
                error[2].innerHTML = "비밀번호가 일치하지 않습니다.";
                error[2].style.display = "block";
            }

            if(pw2.value === "") {
                error[2].innerHTML = "필수 정보입니다.";
                error[2].style.display = "block";
            }
        }

        function checkName() {
            var namePattern = /[a-zA-Z가-힣]/;
            if(userName.value === "") {
                error[3].innerHTML = "필수 정보입니다.";
                error[3].style.display = "block";
            } else if(!namePattern.test(userName.value) || userName.value.indexOf(" ") > -1) {
                error[3].innerHTML = "한글과 영문 대 소문자를 사용하세요. (특수기호, 공백 사용 불가)";
                error[3].style.display = "block";
            } else {
                error[3].style.display = "none";
            }
        }


        function isBirthCompleted() {
            var yearPattern = /[0-9]{4}/;

            if(!yearPattern.test(yy.value)) {
                error[4].innerHTML = "태어난 년도 4자리를 정확하게 입력하세요.";
                error[4].style.display = "block";
            } else {
                isMonthSelected();
            }


            function isMonthSelected() {
                if(mm.value === "월") {
                    error[4].innerHTML = "태어난 월을 선택하세요.";
                } else {
                    isDateCompleted();
                }
            }

            function isDateCompleted() {
                if(dd.value === "") {
                    error[4].innerHTML = "태어난 일(날짜) 2자리를 정확하게 입력하세요.";
                } else {
                    isBirthRight();
                }
            }
        }

        function isBirthRight() {
            var datePattern = /\d{1,2}/;
            if(!datePattern.test(dd.value) || Number(dd.value)<1 || Number(dd.value)>31) {
                error[4].innerHTML = "생년월일을 다시 확인해주세요.";
            } else {
                checkAge();
            }
        }

        function checkAge() {
            if(Number(yy.value) < 1920) {
                error[4].innerHTML = "정말이세요?";
                error[4].style.display = "block";
            } else if(Number(yy.value) > 2020) {
                error[4].innerHTML = "미래에서 오셨군요. ^^";
                error[4].style.display = "block";
            } else if(Number(yy.value) > 2005) {
                error[4].innerHTML = "만 14세 미만의 어린이는 보호자 동의가 필요합니다.";
                error[4].style.display = "block";
            } else {
                error[4].style.display = "none";
            }
        }


        function isEmailCorrect() {
            var emailPattern = /[a-z0-9]{2,}@[a-z0-9-]{2,}\.[a-z0-9]{2,}/;

            if(email.value === ""){
                error[6].style.display = "none";
            } else if(!emailPattern.test(email.value)) {
                error[6].style.display = "block";
            } else {
                error[6].style.display = "none";
            }

        }


        /*
        2월 : 윤년에는 29일까지, 평년에는 28일까지.
        1,3,5,7, 8,10,12 -> 31일
        2,4,6, 9,11 -> 30일
            var days31 = [1, 3, 5, 7, 8, 10, 12];
            var days30 = [4, 6, 9, 11];
            if(mm.value )
        var sel = document.getElementById("sel");
        var val = sel.options[sel.selectedIndex].value;
        var id = document.querySelector('#id');
        var pw1 = document.querySelector('#pswd1');
        var pw2 = document.querySelector('#pswd2');
        var yourName = document.querySelector('#name');
        var yy = document.querySelector('#yy');
        var mm = document.querySelector('#mm');
        var dd = document.querySelector('#dd');
        var email = document.querySelector('#email');
        var mobile = document.querySelector('#mobile');
        var error = document.querySelectorAll('.error_next_box');
        var pattern_num = /[0-9]/;
        var pattern_spc = /[~!@#$%^&*()_+|<>?:{}]/;
        id.onchange = checkId;
        pw1.onchange = checkPw;
        pw2.onchange = comparePw;
        yourName.onchange = checkName;
        yy.onchange = checkYear;
        function checkId() {
            if(id.value === "") {
                error[0].style.display = "block";
            } else if(id.value.length < 5 || id.value.length > 20){
                error[0].innerHTML = "5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다.";
                error[0].style.display = "block";
            }
        }
        function checkPw() {
            if(pw1.value === "") {
                error[1].style.display = "block";
            } else if (pw1.value.length < 8 || pw1.value.length > 16) {
                error[1].innerHTML = "8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.";
                error[1].style.display = "block";
            }
        }
        function comparePw() {
            if(pw2.value === "") {
                error[2].style.display = "block";
            } else if (pw2.value !== pw1.value) {
                error[2].innerHTML = "비밀번호가 일치하지 않습니다.";
                error[2].style.display = "block";
            }
        }
        function checkName() {
            if( yourName.value.indexOf(" ") >= 0 || pattern_spc.test(yourName.value) || pattern_num.test(yourName.value) ) {
                error[3].innerHTML = "한글과 영문 대 소문자를 사용하세요. (특수기호, 공백 사용 불가)";
                error[3].style.display = "block";
            } else if(yourName.value.length === 0) {
                error[3].style.display = "block";
            } else {
                error[3].style.display = "none";
            }
        }
        function checkYear() {
            isBirthEntered();
            if(yy.value.length !== 4 || !pattern_num.test(yy.value)) {
                error[4].innerHTML = "태어난 년도 4자리를 정확하게 입력하세요.";
            } else if (parseInt(yy.value) < 1920) {
                error[4].innerHTML = "정말이세요?";
                error[4].style.display = "block";
            }
        }
        function isBirthEntered() {

        }
        function checkEmail() {

        }
        function checkNumber() {

        }
        */
    </script>
{% endblock content %}
