{% extends 'main/layout.html' %}
{% load crispy_forms_tags %}
{% block head %}
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
function PostcodeSearch {
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
            // http://postcode.map.daum.net/guide 에서 예제를 활용하여 커스텀

			$('input[name=zipcd]').val(data.zonecode);      // 우편번호(5자리)
			$('input[name=addr1]').val(data.address);       // 기본주소
			$('input[name=addr2]').val(data.buildingName);  // 건물명
        }
    }).open();
    }
</script>
{% endblock head %}

{% block content %}
    <form action="{% url 'users:register' %}" method="post" class="mt-5 ">
    {% csrf_token %}
        <fieldset>
            <legend>회원가입 - DANGO</legend>
            {{ form|crispy }}
            <p>이미 회원가입 하셨어요? <a href="{% url 'users:login' %}">로그인</a></p>
            <button type="submit" class="btn btn-primary">회원가입 완료</button>
        </fieldset>
    </form>

{% endblock content %}