{% extends 'main/layout.html' %}
{% block content %}
    <div class="text-center" style="margin-top: 180px!important;">
        <h1 class="display-4">Dango</h1>
        <p class="h2">우리동네 견주 찾기</p>
    </div>
    {% if request.user.is_authenticated %}
        <div class="text-center mt-5">
            <a href="{% url 'users:profile' %}" role="button" class="btn btn-outline-primary btn-lg btn-block">내 프로필</a>
            <a href="{% url 'users:logout' %}" role="button" class="btn btn-outline-danger btn-lg btn-block">로그아웃</a>
        </div>
    {% else %}
        <div class="text-center mt-5">
            <a href="{% url 'users:register' %}" role="button" class="btn btn-outline-success btn-lg btn-block">회원가입</a>
            <a href="{% url 'users:login' %}" role="button" class="btn btn-outline-info btn-lg btn-block">로그인</a>
        </div>
    {% endif %}
{% endblock content %}